<!doctype html>
<html ng-app="summitApp">
	<head>
		<title></title>
		<link href="bootstrap.css" rel="stylesheet" type="text/css"/>
		<style>
			body{width: 80%; margin:auto;}
			div.programing-controller {
				width: 350px;
				margin: 40px auto;
			}
			div.programing-controller form input {
				margin-top: 8px;
			}
		</style>
		<script type="text/javascript" src="angular.js"></script>
		<script type="text/javascript" src="firebase.js"></script>
		<script type="text/javascript" src="angularFire.js"></script>
		<script type="text/javascript">
			angular.module('summitApp', ['firebase']).
				constant('FireBase_URL', 'https://angular-summit-app.firebaseio.com/').
				controller('programmingLanguagesCtr', [ '$scope', 'angularFire', 'FireBase_URL', function($scope, angularFire, FireBaseUrl) {
						// create he firebase reference
						var ref = new Firebase(FireBaseUrl);
						$scope.languages = [];

						// bind the model 
						angularFire(ref, $scope, "languages");

						$scope.AddLanguage = function() {
							var language = $scope.language.toLowerCase(),
								found    = $scope.languages.indexOf(language);
							
							// simple validacion si el language existe en el arreglo
							if(found == -1) {
								$scope.languages.push(language);
								$scope.language = '';
							}	
						};
					}
				]);

		</script>
	</head>
	<body>
		<div ng-controller="programmingLanguagesCtr" class="row-fluid programing-controller">
			<form action="" name="lang">
				<input ng-model="language" type="text" required placeholder="lenguage o framework">
				<button ng-click="AddLanguage()" class="btn btn-small btn-success" ng-disabled="lang.$invalid">Add</button>	
			</form>
			
			<ul class="nav nav-pills nav-stacked">
				<li ng-repeat="language in languages">{{language}}</li>
			</ul>
		</div>
	</body>
</html>	