<div ng-include src="'views/header.html'"></div>
<div class="row-fluid">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Entrada</th>
				<th>Filtro</th>
				<th>Resultado</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><input ng-model="upText"></td>
				<td>uppercase <code ng:non-bindable=""><span>{{</span> upText | uppercase <span>}}</span></code></td>
				<td>{{ upText | uppercase }}</td>
			</tr>
			<tr>
				<td><input ng-model="numberText"></td>
				<td>number <code ng:non-bindable=""><span>{{</span> upText | number <span>}}</span></code></td>
				<td>{{ numberText | number:2 }}</td>
			</tr>
			<tr>
				<td><input type="date" ng-model="yearDate"></td>
				<td>date <code ng:non-bindable=""><span>{{</span> yearDate | date:'MM-yyyy' <span>}}</span></code></td>
				<td>{{ yearDate | date:'MM-yyyy' }}</td>
			</tr>
			<tr>
				<td><input ng-model="currencyText"></td>
				<td>currency <code ng:non-bindable=""><span>{{</span> currencyText | number <span>}}</span></code></td>
				<td>{{ currencyText | currency:'$' }}</td>
			</tr>
		</tbody>
	</table>
</div>