<div ng-include src="'views/header.html'"></div>
<!--añadimos aquí el controlador notasController-->
<div ng-controller="notasController">
    <h3>Agenda</h3>
    <div class="row-floud">
        Búsqueda: <input name="filter" type="search" class="search" ng-model="datoBuscado" >    
    </div>
    
    <ul>
        <li ng-repeat="nota in notas | filter:datoBuscado">
            <p>
            	<button ng-click="remover($index)" class="btn btn-small btn-danger"/>Remover</button>            	
            	Nombre: {{ nota.nombre }} Teléfono: {{ nota.telefono }}
            </p>
        </li>
    </ul>
    <hr>
    <form action="">
    	Nombre: <input ng-model="nuevoContacto.nombre"/>
    	Teléfono: <input ng-model="nuevoContacto.telefono"/>
    	<button ng-click="agregar()" class="btn btn-primary">Agregar</button>
   	</form>
</div>