 <!--añadimos aquí el controlador notasController-->
<div ng-controller="notasController">
    <h3>Agenda</h3>
    Búsqueda: <input ng-model="datoBuscado"/>
    <ul>
        <li ng-repeat="nota in notas | filter:datoBuscado">
            <p>
            	<button ng-click="remover($index)"/>Remover</button>            	
            	Nombre: {{ nota.nombre }} Teléfono: {{ nota.telefono }}
            </p>
        </li>
    </ul>
    <hr>
    <form action="">
    	Nombre: <input ng-model="nuevoContacto.nombre"/>
    	Teléfono: <input ng-model="nuevoContacto.telefono"/>
    	<button ng-click="agregar()">Agregar</button>
   	</form>
</div>